<div class="container">
    <div class="card mt-5">
        <div class="card-body">
            <div class="row">
                <div>
                    <h3>{{stockfullName}} &nbsp;({{stockSymbol}})</h3>
                </div>
                <div class="col-lg-4" *ngFor="let item of dataList;let i =index">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="p-1">
                                {{(item.month == 1)?"JANUARY":(item.month == 2)?"FEBRUARY":"MARCH"}}
                            </div>

                            <div class="p-1">
                                <span>Change:</span>
                                <span> {{item.change}} </span>
                            </div>

                            <div class="p-1">
                                <span>MSPR:</span>
                                <span> {{item.mspr}} </span>
                            </div>
                        </div>

                        <div class="col-lg-4">

                            <div *ngIf="item.change > 0" class="p-2 green">
                                <p> &#8593; </p>
                            </div>
                            <div *ngIf="item.change < 0" class="p-2 red">
                                <p> &#8595; </p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <button type="button" [routerLink]="['']">Back to list of stocks</button>
    </div>
    </div>